.categoryFilter {
  display: flex;
  flex-direction: row;
  border: 1px rgb(179, 179, 179) solid;
  border-radius: 0.5vh;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-top: 1vh;
  label {
    background-color: rgb(179, 179, 179);
    padding: 0.5vh;
  }
  .categoryOptions {
    display: flex;
    align-items: center;
    margin: 0.5vh;
    div {
      margin-left: 0.5vh;
      margin-right: 0.5vh;
    }
    input {
      margin-left: 1vh;
      margin-right: 1vh;
    }
  }
}

@media (max-width: 600px) {
  .categoryFilter {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .categoryOptions {
      flex-direction: column;
    }
  }
}
