div.card {
  display: flex;
  flex-direction: row;
  margin: 1vh;
  height: 10rem;
  img {
    width: 10rem;
    height: auto;
  }
  .cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em;
  }
  p {
    overflow: hidden;
    margin: 0;
  }
}
