div.card {
  margin: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  height: 10rem;
  img {
    width: 10rem;
    height: auto;
  }
  .cardInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    justify-content: flex-start;
  }
  p {
    overflow: hidden;
    margin: 0;
  }
}
