@import "../../../../../assets/colors";
.itemDetailWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.itemImg {
  width: 300px;
  margin: 10px auto 10px auto;
  border-radius: 1vh;
}

.itemProps {
  background-color: $background-hint-color;
  border-radius: 1vh;
  padding: 5px;
  margin: 5px;
}

.itemDescription {
  margin: 5px auto 5px auto;
  padding: 5px;
}

.counterPriceBox {
  display: flex;
  justify-content: flex-end;
}

.counterPriceContainer {
  display: flex;
  border-radius: 1vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: $accents-faded-color;
  width: 70%;
}

.itemPrice {
  margin: 0;
  font-size: x-large;
}

.goBack {
  background-color: $details-color;
  border-radius: 1vh;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: 30%;
  height: auto;
  text-decoration: none;
  color: white;
  &:hover {
    color: $accents-faded-color;
  }
}

.goCart {
  color: black;
  text-decoration: none;
  border-radius: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: 10px auto 10px auto;
  text-align: center;
  background-color: $highlights-color;
  &:hover {
    color: white;
  }
}
