@import "../../../../../assets/colors";
.itemDetailWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.itemImg {
  width: 300px;
  margin: 10px auto 10px auto;
  border-radius: 1vh;
}

.itemProps {
  width: 80%;
  margin: 0.5vh auto 0.5vh auto;
  padding: 1vh;
  background-color: $background-hint-color;
  border-radius: 1vh;
}

.itemDescription {
  margin: 0.5vh auto 0.5vh auto;
  padding: 0.5vh;
}

.counterPriceBox {
  display: flex;
  justify-content: flex-end;
}

.counterPriceContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 1vh;
  color: white;
  background-color: $accents-faded-color;
}

@media (max-width: 500px) {
  .counterPriceContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.itemPrice {
  margin: 0;
  font-size: x-large;
}

.goBack {
  background-color: $details-color;
  border-radius: 1vh;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: 30%;
  height: auto;
  text-decoration: none;
  color: white;
  &:hover {
    color: $accents-faded-color;
  }
}

button.goCart {
  color: black;
  text-decoration: none;
  border-radius: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: 10px auto 10px auto;
  text-align: center;
  background-color: $highlights-color;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: white;
  }
  &:disabled {
    background-color: rgb(216, 216, 216);
    color: rgb(90, 90, 90);
  }
}
