@import url("http://fonts.cdnfonts.com/css/union-gray");

$font-title: "Union Gray", sans-serif;

h1 {
  font-family: $font-title;
  font-size: 1.5rem;
}

#landing {
  background-image: url("../../assets/bg-landing.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  color: white;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
