@import url("http://fonts.cdnfonts.com/css/union-gray");

$font-title: "Union Gray", sans-serif;

#landingContainer {
  position: relative;
  text-align: left;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  -webkit-text-stroke: 2px black;
}

#landingImg {
  width: 100%;
  height: 350px;
}

h1 {
  font-family: $font-title;
  font-size: 1.5rem;
}

.welcome {
  font-family: $font-title;
}

#gridShop {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
