.link {
  text-decoration: none;
  margin: 0.5rem;
  color: black;
  &:hover {
    color: red;
  }
}

#basic-nav-dropdown {
  color: black;
  &:hover {
    color: red;
  }
}

img {
  width: 40px;
  height: auto;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
}

.cartWidget {
  color: black;
  &:hover {
    color: gray;
  }
}
