@import "../../../../assets/colors";
.counterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  width: 2rem;
  height: 2rem;
  border-color: transparent;
}

.counterText {
  margin: auto;
}

.decrease {
  background-color: $accents-color;
  color: white;
  margin: 10px;
  border-radius: 5px;
  &:hover {
    background-color: $details-faded-color;
  }
}
.increase {
  background-color: $highlights-color;
  color: white;
  margin: 10px;
  border-radius: 5px;
  &:hover {
    background-color: $highlights-faded-color;
  }
}

.finishShopping {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
  }
}
