@import "../../../../assets/colors";
.counterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  width: 2rem;
  height: 2rem;
  border-color: transparent;
}

.counterText {
  margin: auto;
}

.decrease {
  background-color: $accents-color;
  color: white;
  margin: 5px;
  &:hover {
    color: $details-color;
    background-color: $accents-faded-color;
  }
}
.increase {
  background-color: $highlights-color;
  color: white;
  margin: 5px;
  &:hover {
    color: $details-color;
    background-color: $highlights-faded-color;
  }
}
