@import "../../../../assets/colors";
.counterContainer {
  display: flex;
  flex-direction: row;
  padding: 0.5vh;
  border: 1px solid black;
  border-radius: 1vh;
  justify-content: space-around;
}

button {
  width: 2rem;
  height: 2rem;
  border-color: transparent;
}

.decrease {
  background-color: $accents-color;
  color: white;
  &:hover {
    color: $details-color;
  }
}
.increase {
  background-color: $highlights-color;
  color: white;
  &:hover {
    color: $details-color;
  }
}
