aside {
  display: flex;
  border: 1px solid;
  border-radius: 1vh;
  border-color: gainsboro;
}

.filter {
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  padding: 0;
}

.filterContainer {
  display: flex;
  flex-direction: column;
}
